<!-- Start Footer -->
<footer>
  <p>Dúvidas? Ligue 0800-761-4631</p>

  <!-- div Uls-LIS -->
  <div id="uls">
    <ul>
      <li><a href="http:">Perguntas freguentes</a></li>
      <li><a href="http:">Relação com invertidores</a></li>
      <li><a href="http:">Formas de assistir</a></li>
      <li><a href="http:">Informações corporativas</a></li>
      <li><a href="http:">Só na Netflix</a></li>
    </ul>

    <ul>
      <li><a href="http:">Centro de ajuda</a></li>
      <li><a href="http:">Carreiras</a></li>
      <li><a href="http:">Termos de uso</a></li>
      <li><a href="http:">Entre em contato</a></li>
    </ul>

    <ul class="responsivo">
      <li><a href="http:">Conta</a></li>
      <li><a href="http:">Resgatar cartão pré-pago</a></li>
      <li><a href="http:">Privacidade</a></li>
      <li><a href="http:">Teste de velocidade</a></li>
    </ul>

    <ul  class="responsivo">
      <li><a href="http:">Impresa</a></li>
      <li><a href="http:">Comprar cartão pré-pago</a></li>
      <li><a href="http:">Preferência de cookies</a></li>
      <li><a href="http:">Aviso legais</a></li>
    </ul>
  </div>

  <p id="netflixBrasil">Netflix Brasil</p>
</footer>
<!-- End Footer -->
