.loginContent {
  background-image: url("./images/netflix_background.png");
  // box-shadow: inset 82px 194px 22px 431px rgba(0, 0, 0, 0.45);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 60px;
  width: 400px;
  height: 75vh;

  input {
    background-color: #333333;
    border-radius: 5px;
    padding: 15px;
    border: none;
    width: 100%;
    font-size: 16px;
  }

  button {
    background: #e50914;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    outline: none;
    cursor: pointer;
  }

  .loginInput {
    margin-bottom: 20px;
  }
}

.footer {
  padding: 4em;
  color: var(--color-secondary);

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }

  &Support {
    font-size: 1.8em;
  }

  &Pages {
    display: flex;
    justify-content: space-between;
  }
}
