.login {
  &Content {
    background-image: url("/assets/images/netflix_background1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &Form {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 60px;
    width: 400px;

    & > *:not(:last-child) {
      margin-bottom: 20px;
    }

    input {
      background-color: #333333;
      border-radius: 5px;
      padding: 15px;
      border: none;
      width: 100%;
      font-size: 16px;
      margin-bottom: 20px;
      color: white;

      &::placeholder {
        color: #8c8c8c;
      }
    }

    button {
      background: #e50914;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 10px;
      width: 100%;
      padding: 15px;
      outline: none;
      cursor: pointer;
    }
  }

  &Text {
    font-size: 12px;
    line-height: 20px;
    color: #8c8c8c;

    &Bottom {
      margin-top: 20px;
    }
  }
}

#show-more {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  padding: 4em;
  color: var(--color-secondary);

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }

  &Support {
    font-size: 1.8em;
  }

  &Pages {
    display: flex;
    justify-content: space-between;
    ul{
      list-style: none;
    }
  }
}

@media screen and(max-width: 426px) {
    form{
      margin-top: 100px;
    }

    .footerPages{
      display: flex;
      flex-direction: column;
    }
}
