.loginContent {
  background-image: url("./images/netflix_background.png");
  // box-shadow: inset 82px 194px 22px 431px rgba(0, 0, 0, 0.45);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  background-color: rgba(0, 0, 0, 0.486);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px;
  width: 400px;
  height: 75vh;
}

.footer {
  padding: 4em;
  color: var(--color-secondary);

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }

  &Support {
    font-size: 1.8em;
  }

  &Pages {
    display: flex;
    justify-content: space-between;
  }
}
