.slider{
    margin-top: 20px;
    overflow-x: scroll;
    cursor: grab;

    ul{        
        display: flex;
        justify-content: flex-start;        
        list-style: none;
        padding-left: 81px;

        li{
            margin-right: 20px;
            object-fit: none;   

            img{
                width: 15vw;
                pointer-events: none;
                border-radius: 5px;
            }            
        }

        &::after{
            content: "|";
            display: block;
            opacity: 0;
        }
    }

    &::-webkit-scrollbar{
        display: none;
    }
}

@media screen and(max-width: 1024px) {
    
    .slider{
        #img{
                width: 50vw;
            }
        }
  }


@media screen and(max-width: 768px) {
    
    .slider{
        ul{
            padding-left: 20px;
            
            li{
                margin-right: 0px;
                img{
                    width: 50vw;
                    border-radius: 0px;
                }
            }
        }

    }
    
  }