<div class="w-modal">
  <div class="w-modal-body">
    <div class="w-card">
      <div
        class="w-card-top"
        [ngStyle]="{ 'background-image': 'url(' + cardImage + ')' }"
      >
        <div class="w-card-btn--close">
          <button
            type="button"
            (click)="closeModalInf()"
            (pointerdown)="closeModalInf()"
          >
            X
          </button>
        </div>
        <div
          class="card-image--title"
          [ngStyle]="{ 'background-image': 'url(' + cardTitle + ')' }"
        ></div>
        <div class="w-card-btn--assistir">
          <div class="card-btn2--assistir">
            <label for="">&#9658;</label>
            <button type="button">Assistir</button>
          </div>
        </div>
      </div>
      <div class="w-card-botton">
        <div class="w-card-left">
          <div>
            <ul>
              <li>
                <p id="relevance">{{ percentRelevance | percent }} relevante</p>
              </li>
              <li id="year">{{ year }}</li>
              <li id="limit-age">{{ minAge }}</li>
              <li>{{ time }}</li>
            </ul>
          </div>
          <div>
            <p>
              {{ description }}
            </p>
          </div>
        </div>
        <div class="w-card-right">
          <ul>
            <li>
              <span>Elenco: </span>
              <p>{{ cast }}</p>
            </li>
            <li>
              <span>Gênero: </span>
              <p>{{ genere }}</p>
            </li>
            <li>
              <span>Cenas e momentos: </span>
              <p>{{ scenesAndMoments }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-modal-backgound"
    (mouseup)="closeModalInf()"
    (pointerdown)="closeModalInf()"
  ></div>
</div>
