<div class="w-modal-warpper" (click)="onStateModalInfChange()">
  <div class="w-modal">
    <div class="w-modal-body">
      <div class="w-card">
        <div class="w-card-top">
          <div class="w-card-btn--close">
            <button type="button" (click)="onStateModalInfChange()">X</button>
          </div>
          <h2>Alerta Vermelho</h2>
          <div class="w-card-btn--assistir">
            <div class="card-btn2--assistir">
              <label for="">&#9658;</label>
              <button type="button">Assistir</button>
            </div>
          </div>
        </div>
        <div class="w-card-botton">
          <div class="w-card-left">
            <div>
              <ul>
                <li><span>99%</span> relevante</li>
                <li>2021</li>
                <li id="limit-age">12</li>
                <li>1h 57min</li>
              </ul>
            </div>
            <div>
              <p>
                Um agente do FBI persegue o ladrão de arte mais procurado do
                mundo. Ele só não esperava ter seu alvo como parceiro para
                prender uma bandida muito esperta.
              </p>
            </div>
          </div>
          <div class="w-card-right">
            <ul>
              <li>
                <p>
                  <span>Elenco: </span> Dwayne Jo hnson, Ryan Reynolds, Gal
                  Gadot, mais
                </p>
              </li>
              <li>
                <p><span>Gênero: </span> Ação e aventura, Comédia, Policiais</p>
              </li>
              <li>
                <p><span>Cenas e momentos: </span> Irreverentes, empolgantes</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-modal-backgound"></div>
</div>
