<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- start Main Page -->
    <main id="main" [style.background-image]="'url(assets/img/netflix_background1.png)'">
        
        <div id="title">
            <h1>Filmes, séries e muito <br> mais. Sem limites.</h1>
            <p>Assista onde quiser. Cancele quando quiser.</p>
        </div>

        <p>Pronto para assistir? Clique no botão abaixo para ser redirecionado para a tela de login</p>
    
        <button id="button">Entrar</button>
    </main>
    <!-- start Main Page -->



    <!-- Start Sections -->
    
    <!-- Section "Aproveite na Tv" -->
    <section class="section aproveiteNaTv">
        <div class="text">
            <h1>Aproveite na Tv.</h1>
            <p>Assista em Smart TVs, Playstation, Xbox, Chromecast, apple TV, aparelhos de Blu-ray e outros dispositivos</p>
        </div>
        <img src="assets/img/aproveiteNaTv.svg" alt="">
    </section>
    

    <!-- Section "Baixe séries para assitir offline" -->
    <section class="section aproveiteNaTv">
        <img src="assets/img/baixarSeries.svg" alt="">
        <div class="text">
            <h1>Baixe séries para assistir offline.</h1>
            <p>Salve seus títulos favoritos e sempre tenha algo para assistir</p>
        </div>
    </section>
    

    <!-- Section "Assista quando quiser" -->
    <section class="section aproveiteNaTv">
        <div class="text">
            <h1>Assistir quando quiser.</h1>
            <p>Assistir no celular, table, Smart TV ou notebook sem pagar a mais por isso.</p>
        </div>
        <img src="assets/img/assistaOndeQuiser.svg" alt="">
    </section>
    

    <!-- Section "Crie perfis para crianças" -->
    <section class="section aproveiteNaTv">
        <img src="assets/img/criePerfisParaCriancas.svg" alt="">
        <div class="text">
            <h1>Crie perfis para crianças.</h1>
        </div>
    </section>
    <!-- End Sections -->
    

    <!-- Start Footer -->
    <footer>
        <p>Dúvidas? Ligue 0800-761-4631</p>

        <!-- div Uls-LIS -->
        <div id="uls">
            <ul>
                <li> <a href="http://">Perguntas freguentes</a></li>
                <li> <a href="http://">Relação com invertidores</a></li>
                <li> <a href="http://">Formas de assistir</a></li>
                <li> <a href="http://">Informações corporativas</a></li>
                <li> <a href="http://">Só na Netflix</a></li>
            </ul>
            
            <ul>
                <li> <a href="http://">Centro de ajuda</a></li>
                <li> <a href="http://">Carreiras</a></li>
                <li> <a href="http://">Termos de uso</a></li>
                <li> <a href="http://">Entre em contato</a></li>
            </ul>
            
            <ul>
                <li> <a href="http://">Conta</a></li>
                <li> <a href="http://">Resgatar cartão pré-pago</a></li>
                <li> <a href="http://">Privacidade</a></li>
                <li> <a href="http://">Teste de velocidade</a></li>
            </ul>
            
            <ul>
                <li> <a href="http://">Impresa</a></li>
                <li> <a href="http://">Comprar cartão pré-pago</a></li>
                <li> <a href="http://">Preferência de cookies</a></li>
                <li> <a href="http://">Aviso legais</a></li>
            </ul>
        </div>

        <p id="netflixBrasil">Netflix Brasil</p>
    </footer>
    <!-- End Footer -->

</body>
</html>
